<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Page Title</title>
</head>
<body>

    
    <header>
      <h2>Header</h2>
    </header>

    
    {% block Homepage %}{% endblock %}
    {% block Signup %}{% endblock %}
    {% block Login %}{% endblock %} 
    {% block body %}{% endblock %}
    <footer>
      <p>All rights Reserved @2021</p>
    </footer>
    
    </body>
</div>
</html>