{% extends "layout.html" %}

{% block body %}

    <h1 style="color: goldenrod;">Registrants</h1>
    <table>
        <thead>
            <tr>
                <th style="color: white;">Name</th>
                <th style="color: white;">Sport</th>
            </tr>
        </thead>
        <tbody>
            {% for registrant in registrants %}
                <tr>
                    <td style="color: red;">{{registrant[0]}}</td>
                    <td style="color: blue;">{{registrant[1]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}