alembic==1.6.5
certifi==2021.5.30
click
colorama==0.4.4
cycler==0.10.0
dnspython==2.1.0
email-validator==1.1.3
Flask 
Flask-Login==0.5.0
Flask-Migrate==3.0.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
greenlet==1.1.0
gunicorn==20.1.0
idna==3.2
importlib-metadata 
itsdangerous 
Jinja2 
joblib==1.0.1
kiwisolver==1.3.1
Mako==1.1.4
MarkupSafe 
matplotlib==3.4.2
numpy==1.21.0
opencv-python-headless
pandas==1.3.0
Pillow==8.3.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2021.1
scikit-learn==0.24.2
scipy==1.7.0
six==1.16.0
sklearn==0.0
SQLAlchemy==1.4.20
threadpoolctl==2.2.0
Werkzeug 
wincertstore==0.2
WTForms==2.3.3
zipp
