{% extends "layout.html" %}
{% block Homepage %}
    
   <div>
     <h1 > 
       Homepage
     </h1>
     <article>
      <h2>About</h2>
      <p>After all, the primary challenge is not so much in the 
        hardware, or the physical form of the systems of 
        intercommunication and interaction around which society develops.  
        The important work is in developing the social forms of use of 
        this technology which forwards the common good as well as that of 
        the individual.  New ways of thinking, as Einstein said, are the 
        urgently needed ingredient for the humanization and survival of 
        society. </p>
      <p>This Website Aims on developing Interactive LambdaMOO like virtual Space
          that not only allows Communication and formation of Communities but also
          allows Real Utilities which can be developed by the Users themselves as Features,
          to be able to make their own Virtual Spaces linked together to a Global Virtual Space. 
      </p>
    </article>

   </div>
   
    


{% endblock %}